*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-bottom-\[90px\] {
  bottom: -90px;
}

.-right-20 {
  right: -5rem;
}

.-right-\[250px\] {
  right: -250px;
}

.-right-\[75px\] {
  right: -75px;
}

.-top-2\.5 {
  top: -0.625rem;
}

.-top-\[3px\] {
  top: -3px;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.right-3 {
  right: 0.75rem;
}

.right-\[27px\] {
  right: 27px;
}

.top-0 {
  top: 0px;
}

.top-3\.5 {
  top: 0.875rem;
}

.top-6 {
  top: 1.5rem;
}

.top-\[3px\] {
  top: 3px;
}

.top-\[60px\] {
  top: 60px;
}

.top-px {
  top: 1px;
}

.z-10 {
  z-index: 10;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-mt-1\.5 {
  margin-top: -0.375rem;
}

.-mt-\[3px\] {
  margin-top: -3px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-0\.5 {
  margin-bottom: 0.125rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-1\.5 {
  margin-bottom: 0.375rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[11px\] {
  margin-bottom: 11px;
}

.mb-\[12px\] {
  margin-bottom: 12px;
}

.mb-\[15px\] {
  margin-bottom: 15px;
}

.mb-\[17px\] {
  margin-bottom: 17px;
}

.mb-\[18px\] {
  margin-bottom: 18px;
}

.mb-\[22px\] {
  margin-bottom: 22px;
}

.mb-\[23px\] {
  margin-bottom: 23px;
}

.mb-\[25px\] {
  margin-bottom: 25px;
}

.mb-\[27px\] {
  margin-bottom: 27px;
}

.mb-\[7px\] {
  margin-bottom: 7px;
}

.mb-\[9px\] {
  margin-bottom: 9px;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-\[9px\] {
  margin-left: 9px;
}

.ml-auto {
  margin-left: auto;
}

.mr-0\.5 {
  margin-right: 0.125rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-1\.5 {
  margin-top: 0.375rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-2\.5 {
  margin-top: 0.625rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-3\.5 {
  margin-top: 0.875rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-\[13px\] {
  margin-top: 13px;
}

.mt-\[147px\] {
  margin-top: 147px;
}

.mt-\[17px\] {
  margin-top: 17px;
}

.mt-\[18px\] {
  margin-top: 18px;
}

.mt-\[21\.66px\] {
  margin-top: 21.66px;
}

.mt-\[22px\] {
  margin-top: 22px;
}

.mt-\[23px\] {
  margin-top: 23px;
}

.mt-\[25px\] {
  margin-top: 25px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[33\.19px\] {
  margin-top: 33.19px;
}

.mt-\[35px\] {
  margin-top: 35px;
}

.mt-\[37px\] {
  margin-top: 37px;
}

.mt-\[45px\] {
  margin-top: 45px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[59px\] {
  margin-top: 59px;
}

.mt-\[5px\] {
  margin-top: 5px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-\[75px\] {
  margin-top: 75px;
}

.mt-\[7px\] {
  margin-top: 7px;
}

.mt-\[84px\] {
  margin-top: 84px;
}

.mt-\[90px\] {
  margin-top: 90px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-11 {
  height: 2.75rem;
}

.h-12 {
  height: 3rem;
}

.h-3 {
  height: 0.75rem;
}

.h-3\.5 {
  height: 0.875rem;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-\[106px\] {
  height: 106px;
}

.h-\[121px\] {
  height: 121px;
}

.h-\[13px\] {
  height: 13px;
}

.h-\[156px\] {
  height: 156px;
}

.h-\[18px\] {
  height: 18px;
}

.h-\[191px\] {
  height: 191px;
}

.h-\[219px\] {
  height: 219px;
}

.h-\[22px\] {
  height: 22px;
}

.h-\[29px\] {
  height: 29px;
}

.h-\[314px\] {
  height: 314px;
}

.h-\[333px\] {
  height: 333px;
}

.h-\[33px\] {
  height: 33px;
}

.h-\[34\.3px\] {
  height: 34.3px;
}

.h-\[34px\] {
  height: 34px;
}

.h-\[373px\] {
  height: 373px;
}

.h-\[37px\] {
  height: 37px;
}

.h-\[390px\] {
  height: 390px;
}

.h-\[42px\] {
  height: 42px;
}

.h-\[45px\] {
  height: 45px;
}

.h-\[46\.79px\] {
  height: 46.79px;
}

.h-\[46px\] {
  height: 46px;
}

.h-\[49\.49px\] {
  height: 49.49px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[57px\] {
  height: 57px;
}

.h-\[62px\] {
  height: 62px;
}

.h-\[63px\] {
  height: 63px;
}

.h-\[65px\] {
  height: 65px;
}

.h-\[732px\] {
  height: 732px;
}

.h-\[758px\] {
  height: 758px;
}

.h-\[76px\] {
  height: 76px;
}

.h-\[817px\] {
  height: 817px;
}

.h-\[87px\] {
  height: 87px;
}

.h-\[93px\] {
  height: 93px;
}

.h-full {
  height: 100%;
}

.h-px {
  height: 1px;
}

.min-h-\[141px\] {
  min-height: 141px;
}

.min-h-\[197px\] {
  min-height: 197px;
}

.min-h-\[210px\] {
  min-height: 210px;
}

.min-h-\[81px\] {
  min-height: 81px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-1\/2 {
  width: 50%;
}

.w-10 {
  width: 2.5rem;
}

.w-11 {
  width: 2.75rem;
}

.w-11\/12 {
  width: 91.666667%;
}

.w-2\/5 {
  width: 40%;
}

.w-3 {
  width: 0.75rem;
}

.w-3\.5 {
  width: 0.875rem;
}

.w-3\/5 {
  width: 60%;
}

.w-4 {
  width: 1rem;
}

.w-6 {
  width: 1.5rem;
}

.w-\[1105px\] {
  width: 1105px;
}

.w-\[112px\] {
  width: 112px;
}

.w-\[115px\] {
  width: 115px;
}

.w-\[122px\] {
  width: 122px;
}

.w-\[13px\] {
  width: 13px;
}

.w-\[148px\] {
  width: 148px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[154px\] {
  width: 154px;
}

.w-\[156px\] {
  width: 156px;
}

.w-\[170\.6px\] {
  width: 170.6px;
}

.w-\[178px\] {
  width: 178px;
}

.w-\[184px\] {
  width: 184px;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[198px\] {
  width: 198px;
}

.w-\[212px\] {
  width: 212px;
}

.w-\[229px\] {
  width: 229px;
}

.w-\[22px\] {
  width: 22px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[257px\] {
  width: 257px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[266px\] {
  width: 266px;
}

.w-\[285px\] {
  width: 285px;
}

.w-\[297px\] {
  width: 297px;
}

.w-\[29px\] {
  width: 29px;
}

.w-\[34px\] {
  width: 34px;
}

.w-\[387px\] {
  width: 387px;
}

.w-\[42px\] {
  width: 42px;
}

.w-\[46px\] {
  width: 46px;
}

.w-\[526px\] {
  width: 526px;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[62px\] {
  width: 62px;
}

.w-\[76px\] {
  width: 76px;
}

.w-\[87px\] {
  width: 87px;
}

.w-\[calc\(100\%-101px\)\] {
  width: calc(100% - 101px);
}

.w-\[calc\(100\%-26px\)\] {
  width: calc(100% - 26px);
}

.w-\[calc\(100\%-285px\)\] {
  width: calc(100% - 285px);
}

.w-\[calc\(100\%-367px\)\] {
  width: calc(100% - 367px);
}

.w-\[calc\(100\%-381px\)\] {
  width: calc(100% - 381px);
}

.w-\[calc\(100\%-80px\)\] {
  width: calc(100% - 80px);
}

.w-\[calc\(100\%-90px\)\] {
  width: calc(100% - 90px);
}

.w-full {
  width: 100%;
}

.w-px {
  width: 1px;
}

.min-w-\[263px\] {
  min-width: 263px;
}

.min-w-\[266px\] {
  min-width: 266px;
}

.min-w-\[512px\] {
  min-width: 512px;
}

.min-w-\[526px\] {
  min-width: 526px;
}

.max-w-2xl {
  max-width: 42rem;
}

.max-w-7xl {
  max-width: 80rem;
}

.max-w-\[1101px\] {
  max-width: 1101px;
}

.max-w-\[1105px\] {
  max-width: 1105px;
}

.max-w-\[1110px\] {
  max-width: 1110px;
}

.max-w-\[1155px\] {
  max-width: 1155px;
}

.max-w-\[143px\] {
  max-width: 143px;
}

.max-w-\[194px\] {
  max-width: 194px;
}

.max-w-\[223px\] {
  max-width: 223px;
}

.max-w-\[241px\] {
  max-width: 241px;
}

.max-w-\[245px\] {
  max-width: 245px;
}

.max-w-\[248px\] {
  max-width: 248px;
}

.max-w-\[258px\] {
  max-width: 258px;
}

.max-w-\[263px\] {
  max-width: 263px;
}

.max-w-\[273px\] {
  max-width: 273px;
}

.max-w-\[280px\] {
  max-width: 280px;
}

.max-w-\[293px\] {
  max-width: 293px;
}

.max-w-\[303px\] {
  max-width: 303px;
}

.max-w-\[324px\] {
  max-width: 324px;
}

.max-w-\[339px\] {
  max-width: 339px;
}

.max-w-\[348px\] {
  max-width: 348px;
}

.max-w-\[354px\] {
  max-width: 354px;
}

.max-w-\[357px\] {
  max-width: 357px;
}

.max-w-\[420px\] {
  max-width: 420px;
}

.max-w-\[429px\] {
  max-width: 429px;
}

.max-w-\[435px\] {
  max-width: 435px;
}

.max-w-\[450px\] {
  max-width: 450px;
}

.max-w-\[451px\] {
  max-width: 451px;
}

.max-w-\[461px\] {
  max-width: 461px;
}

.max-w-\[465px\] {
  max-width: 465px;
}

.max-w-\[473px\] {
  max-width: 473px;
}

.max-w-\[505px\] {
  max-width: 505px;
}

.max-w-\[512px\] {
  max-width: 512px;
}

.max-w-\[521px\] {
  max-width: 521px;
}

.max-w-\[534px\] {
  max-width: 534px;
}

.max-w-\[545px\] {
  max-width: 545px;
}

.max-w-\[581px\] {
  max-width: 581px;
}

.max-w-\[631px\] {
  max-width: 631px;
}

.max-w-\[635px\] {
  max-width: 635px;
}

.max-w-\[714px\] {
  max-width: 714px;
}

.max-w-\[719px\] {
  max-width: 719px;
}

.max-w-\[738px\] {
  max-width: 738px;
}

.max-w-\[835px\] {
  max-width: 835px;
}

.max-w-\[860px\] {
  max-width: 860px;
}

.max-w-\[918px\] {
  max-width: 918px;
}

.max-w-\[968px\] {
  max-width: 968px;
}

.max-w-\[98px\] {
  max-width: 98px;
}

.border-separate {
  border-collapse: separate;
}

.border-spacing-y-\[15px\] {
  --tw-border-spacing-y: 15px;
  border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
}

.scale-\[1\.045\] {
  --tw-scale-x: 1.045;
  --tw-scale-y: 1.045;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize-none {
  resize: none;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-0\.5 {
  gap: 0.125rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-1\.5 {
  gap: 0.375rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-11 {
  gap: 2.75rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-2\.5 {
  gap: 0.625rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-3\.5 {
  gap: 0.875rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[11px\] {
  gap: 11px;
}

.gap-\[15px\] {
  gap: 15px;
}

.gap-\[17\.33px\] {
  gap: 17.33px;
}

.gap-\[18px\] {
  gap: 18px;
}

.gap-\[22px\] {
  gap: 22px;
}

.gap-\[25px\] {
  gap: 25px;
}

.gap-\[43px\] {
  gap: 43px;
}

.gap-\[59px\] {
  gap: 59px;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-\[7px\] {
  gap: 7px;
}

.gap-x-\[25px\] {
  -moz-column-gap: 25px;
  column-gap: 25px;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[13px\] {
  border-radius: 13px;
}

.rounded-\[140px\] {
  border-radius: 140px;
}

.rounded-\[14px\] {
  border-radius: 14px;
}

.rounded-\[15px\] {
  border-radius: 15px;
}

.rounded-\[18px\] {
  border-radius: 18px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[21px\] {
  border-radius: 21px;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-\[8\.665px\] {
  border-radius: 8.665px;
}

.rounded-\[9px\] {
  border-radius: 9px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-b-2xl {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.rounded-e-2xl {
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
}

.rounded-e-\[25px\] {
  border-start-end-radius: 25px;
  border-end-end-radius: 25px;
}

.rounded-r-\[17\.8px\] {
  border-top-right-radius: 17.8px;
  border-bottom-right-radius: 17.8px;
}

.rounded-s-2xl {
  border-start-start-radius: 1rem;
  border-end-start-radius: 1rem;
}

.rounded-s-\[17\.8px\] {
  border-start-start-radius: 17.8px;
  border-end-start-radius: 17.8px;
}

.rounded-s-\[25px\] {
  border-start-start-radius: 25px;
  border-end-start-radius: 25px;
}

.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.border {
  border-width: 1px;
}

.border-\[8px\] {
  border-width: 8px;
}

.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-\[\#302965\] {
  --tw-border-opacity: 1;
  border-color: rgb(48 41 101 / var(--tw-border-opacity, 1));
}

.border-\[\#979797\] {
  --tw-border-opacity: 1;
  border-color: rgb(151 151 151 / var(--tw-border-opacity, 1));
}

.border-\[\#c6c1c1\] {
  --tw-border-opacity: 1;
  border-color: rgb(198 193 193 / var(--tw-border-opacity, 1));
}

.border-\[\#cbcbcb\] {
  --tw-border-opacity: 1;
  border-color: rgb(203 203 203 / var(--tw-border-opacity, 1));
}

.border-\[\#d0d0d0\] {
  --tw-border-opacity: 1;
  border-color: rgb(208 208 208 / var(--tw-border-opacity, 1));
}

.border-\[\#e0e0e0\] {
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
}

.border-\[\#ffffff33\] {
  border-color: #ffffff33;
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(255 165 31 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.bg-\[\#00aa45\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 170 69 / var(--tw-bg-opacity, 1));
}

.bg-\[\#06B77C\] {
  --tw-bg-opacity: 1;
  background-color: rgb(6 183 124 / var(--tw-bg-opacity, 1));
}

.bg-\[\#302964\] {
  --tw-bg-opacity: 1;
  background-color: rgb(48 41 100 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E9E59\] {
  background-color: #E9E59;
}

.bg-\[\#F9F5F2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(249 245 242 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFBAD5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 186 213 / var(--tw-bg-opacity, 1));
}

.bg-\[\#c6c2c2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(198 194 194 / var(--tw-bg-opacity, 1));
}

.bg-\[\#fafafa\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ffa51f40\] {
  background-color: #ffa51f40;
}

.bg-\[\#ffffff33\] {
  background-color: #ffffff33;
}

.bg-bgPrimary {
  --tw-bg-opacity: 1;
  background-color: rgb(25 17 83 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-btnPrimary {
  --tw-bg-opacity: 1;
  background-color: rgb(14 158 89 / var(--tw-bg-opacity, 1));
}

.bg-btnSecondary {
  --tw-bg-opacity: 1;
  background-color: rgb(233 144 26 / var(--tw-bg-opacity, 1));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 165 31 / var(--tw-bg-opacity, 1));
}

.bg-sideBarBg {
  background-color: #ffffff1a;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-1 {
  padding: 0.25rem;
}

.p-1\.5 {
  padding: 0.375rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-2\.5 {
  padding: 0.625rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-\[15px\] {
  padding: 15px;
}

.p-\[18px\] {
  padding: 18px;
}

.p-\[25px\] {
  padding: 25px;
}

.p-\[5px\] {
  padding: 5px;
}

.p-\[9px\] {
  padding: 9px;
}

.p-px {
  padding: 1px;
}

.px-0\.5 {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.px-\[11px\] {
  padding-left: 11px;
  padding-right: 11px;
}

.px-\[12\.5px\] {
  padding-left: 12.5px;
  padding-right: 12.5px;
}

.px-\[13px\] {
  padding-left: 13px;
  padding-right: 13px;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[17px\] {
  padding-left: 17px;
  padding-right: 17px;
}

.px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px;
}

.px-\[19\.5px\] {
  padding-left: 19.5px;
  padding-right: 19.5px;
}

.px-\[22px\] {
  padding-left: 22px;
  padding-right: 22px;
}

.px-\[25px\] {
  padding-left: 25px;
  padding-right: 25px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[31px\] {
  padding-left: 31px;
  padding-right: 31px;
}

.px-\[33px\] {
  padding-left: 33px;
  padding-right: 33px;
}

.px-\[35px\] {
  padding-left: 35px;
  padding-right: 35px;
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-\[11px\] {
  padding-top: 11px;
  padding-bottom: 11px;
}

.py-\[15\.6px\] {
  padding-top: 15.6px;
  padding-bottom: 15.6px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[18px\] {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-\[21px\] {
  padding-top: 21px;
  padding-bottom: 21px;
}

.py-\[22px\] {
  padding-top: 22px;
  padding-bottom: 22px;
}

.py-\[35px\] {
  padding-top: 35px;
  padding-bottom: 35px;
}

.py-\[7px\] {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-\[9px\] {
  padding-top: 9px;
  padding-bottom: 9px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-1\.5 {
  padding-bottom: 0.375rem;
}

.pb-2\.5 {
  padding-bottom: 0.625rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-\[106px\] {
  padding-bottom: 106px;
}

.pb-\[17px\] {
  padding-bottom: 17px;
}

.pb-\[18px\] {
  padding-bottom: 18px;
}

.pb-\[21px\] {
  padding-bottom: 21px;
}

.pb-\[22px\] {
  padding-bottom: 22px;
}

.pb-\[25px\] {
  padding-bottom: 25px;
}

.pb-\[26px\] {
  padding-bottom: 26px;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pb-\[45px\] {
  padding-bottom: 45px;
}

.pb-\[53px\] {
  padding-bottom: 53px;
}

.pb-\[56px\] {
  padding-bottom: 56px;
}

.pb-\[69px\] {
  padding-bottom: 69px;
}

.pb-\[75px\] {
  padding-bottom: 75px;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-1\.5 {
  padding-left: 0.375rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-2\.5 {
  padding-left: 0.625rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pl-\[17\.33px\] {
  padding-left: 17.33px;
}

.pl-\[18px\] {
  padding-left: 18px;
}

.pl-\[23px\] {
  padding-left: 23px;
}

.pl-\[26px\] {
  padding-left: 26px;
}

.pl-\[27px\] {
  padding-left: 27px;
}

.pl-\[29px\] {
  padding-left: 29px;
}

.pl-\[34px\] {
  padding-left: 34px;
}

.pl-\[35px\] {
  padding-left: 35px;
}

.pl-\[3px\] {
  padding-left: 3px;
}

.pl-\[45px\] {
  padding-left: 45px;
}

.pl-px {
  padding-left: 1px;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-20 {
  padding-right: 5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-3\.5 {
  padding-right: 0.875rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pr-\[11px\] {
  padding-right: 11px;
}

.pr-\[13px\] {
  padding-right: 13px;
}

.pr-\[15px\] {
  padding-right: 15px;
}

.pr-\[18px\] {
  padding-right: 18px;
}

.pr-\[23px\] {
  padding-right: 23px;
}

.pr-\[24px\] {
  padding-right: 24px;
}

.pr-\[31px\] {
  padding-right: 31px;
}

.pr-\[34px\] {
  padding-right: 34px;
}

.pt-0\.5 {
  padding-top: 0.125rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-1\.5 {
  padding-top: 0.375rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-2\.5 {
  padding-top: 0.625rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-3\.5 {
  padding-top: 0.875rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pt-\[127px\] {
  padding-top: 127px;
}

.pt-\[13px\] {
  padding-top: 13px;
}

.pt-\[15px\] {
  padding-top: 15px;
}

.pt-\[19px\] {
  padding-top: 19px;
}

.pt-\[21px\] {
  padding-top: 21px;
}

.pt-\[25px\] {
  padding-top: 25px;
}

.pt-\[26px\] {
  padding-top: 26px;
}

.pt-\[29px\] {
  padding-top: 29px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.pt-\[38px\] {
  padding-top: 38px;
}

.pt-\[42px\] {
  padding-top: 42px;
}

.pt-\[46px\] {
  padding-top: 46px;
}

.pt-px {
  padding-top: 1px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[11px\] {
  font-size: 11px;
}

.text-\[13\.864px\] {
  font-size: 13.864px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[15\.597px\] {
  font-size: 15.597px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[17\.589px\] {
  font-size: 17.589px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[21px\] {
  font-size: 21px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[29px\] {
  font-size: 29px;
}

.text-\[31px\] {
  font-size: 31px;
}

.text-\[34px\] {
  font-size: 34px;
}

.text-\[37px\] {
  font-size: 37px;
}

.text-\[39px\] {
  font-size: 39px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[41px\] {
  font-size: 41px;
}

.text-\[43px\] {
  font-size: 43px;
}

.text-\[44px\] {
  font-size: 44px;
}

.text-\[47px\] {
  font-size: 47px;
}

.text-\[52px\] {
  font-size: 52px;
}

.text-\[54px\] {
  font-size: 54px;
}

.text-\[71px\] {
  font-size: 71px;
}

.text-\[9px\] {
  font-size: 9px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-3 {
  line-height: 0.75rem;
}

.leading-4 {
  line-height: 1rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-\[13\.864px\] {
  line-height: 13.864px;
}

.leading-\[14\.42px\] {
  line-height: 14.42px;
}

.leading-\[17\.589px\] {
  line-height: 17.589px;
}

.leading-\[17px\] {
  line-height: 17px;
}

.leading-\[18px\] {
  line-height: 18px;
}

.leading-\[19px\] {
  line-height: 19px;
}

.leading-\[21px\] {
  line-height: 21px;
}

.leading-\[22px\] {
  line-height: 22px;
}

.leading-\[23px\] {
  line-height: 23px;
}

.leading-\[24\.1px\] {
  line-height: 24.1px;
}

.leading-\[24px\] {
  line-height: 24px;
}

.leading-\[25px\] {
  line-height: 25px;
}

.leading-\[26px\] {
  line-height: 26px;
}

.leading-\[27px\] {
  line-height: 27px;
}

.leading-\[29px\] {
  line-height: 29px;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-\[31px\] {
  line-height: 31px;
}

.leading-\[37px\] {
  line-height: 37px;
}

.leading-\[41px\] {
  line-height: 41px;
}

.leading-\[43px\] {
  line-height: 43px;
}

.leading-\[44px\] {
  line-height: 44px;
}

.leading-\[54px\] {
  line-height: 54px;
}

.leading-\[64px\] {
  line-height: 64px;
}

.leading-\[70px\] {
  line-height: 70px;
}

.leading-normal {
  line-height: 1.5;
}

.text-\[\#00000080\] {
  color: #00000080;
}

.text-\[\#007aff\] {
  --tw-text-opacity: 1;
  color: rgb(0 122 255 / var(--tw-text-opacity, 1));
}

.text-\[\#06C931\] {
  --tw-text-opacity: 1;
  color: rgb(6 201 49 / var(--tw-text-opacity, 1));
}

.text-\[\#182327\] {
  --tw-text-opacity: 1;
  color: rgb(24 35 39 / var(--tw-text-opacity, 1));
}

.text-\[\#222222\] {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

.text-\[\#2A1B69\] {
  --tw-text-opacity: 1;
  color: rgb(42 27 105 / var(--tw-text-opacity, 1));
}

.text-\[\#3B2A82\] {
  --tw-text-opacity: 1;
  color: rgb(59 42 130 / var(--tw-text-opacity, 1));
}

.text-\[\#444444\] {
  --tw-text-opacity: 1;
  color: rgb(68 68 68 / var(--tw-text-opacity, 1));
}

.text-\[\#E9901A\] {
  --tw-text-opacity: 1;
  color: rgb(233 144 26 / var(--tw-text-opacity, 1));
}

.text-\[\#FF0F0F\] {
  --tw-text-opacity: 1;
  color: rgb(255 15 15 / var(--tw-text-opacity, 1));
}

.text-\[\#FFFFF8\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 248 / var(--tw-text-opacity, 1));
}

.text-\[\#aaaaaa\] {
  --tw-text-opacity: 1;
  color: rgb(170 170 170 / var(--tw-text-opacity, 1));
}

.text-\[\#c4c4c4\] {
  --tw-text-opacity: 1;
  color: rgb(196 196 196 / var(--tw-text-opacity, 1));
}

.text-\[\#cac4c4\] {
  --tw-text-opacity: 1;
  color: rgb(202 196 196 / var(--tw-text-opacity, 1));
}

.text-\[\#fffff8\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 248 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-black-800 {
  --tw-text-opacity: 1;
  color: rgb(21 21 21 / var(--tw-text-opacity, 1));
}

.text-[#E9901A] {
  --tw-text-opacity: 1;
  color: rgb(233 144 26 / var(--tw-text-opacity, 1));
}

.text-inputText {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(255 165 31 / var(--tw-text-opacity, 1));
}

.text-textPrimary {
  --tw-text-opacity: 1;
  color: rgb(25 17 83 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.backdrop-blur-\[3px\] {
  --tw-backdrop-blur: blur(3px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.bg-gradient {
  /* background-image: linear-gradient(270deg, #1e1e1e 0.77%, #3c3c3c 99.92%); */
  background: linear-gradient(
    270deg,
    #191153 0.77%,
    rgba(56, 38, 185, 0.42) 99.92%
  );
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.custom-checkbox::before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 0px;
  display: block;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ffa51f;
}

.custom-checkbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 0px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffa51f;
  /* border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); */
}

.custom-checkbox-number::before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 0px;
  display: block;
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.custom-checkbox-number input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ffffff;
  /* border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); */
}

.boxShadow-sec {
  box-shadow: 0px 1.793px 4.481px 1.793px rgba(0, 0, 0, 0.4);
}

.divider-bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.35) 0%,
    #fff 45%,
    rgba(255, 255, 255, 0.35) 100%
  );
}

.pricing-card-boxShadow {
  box-shadow: 0px 1.341px 3.352px 1.341px rgba(0, 0, 0, 0.4);
}

.placeholder\:text-\[\#00000033\]::-moz-placeholder {
  color: #00000033;
}

.placeholder\:text-\[\#00000033\]::placeholder {
  color: #00000033;
}

.placeholder\:text-\[\#9ba0a1\]::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(155 160 161 / var(--tw-text-opacity, 1));
}

.placeholder\:text-\[\#9ba0a1\]::placeholder {
  --tw-text-opacity: 1;
  color: rgb(155 160 161 / var(--tw-text-opacity, 1));
}

.placeholder\:text-inputText::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.placeholder\:text-inputText::placeholder {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.placeholder\:text-white::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.placeholder\:text-white::placeholder {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.placeholder\:opacity-50::-moz-placeholder {
  opacity: 0.5;
}

.placeholder\:opacity-50::placeholder {
  opacity: 0.5;
}

@media (min-width: 640px) {
  .sm\:w-1\/2 {
    width: 50%;
  }

  .sm\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .lg\:flex {
    display: flex;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .xl\:w-\[625px\] {
    width: 625px;
  }

  .xl\:min-w-\[625px\] {
    min-width: 625px;
  }

  .xl\:gap-7 {
    gap: 1.75rem;
  }

  .xl\:overflow-hidden {
    overflow: hidden;
  }
}
#sideData {
  @media (max-width: 1024px) {
    width: 100% !important;
  }
}
.scrollHidden::-webkit-scrollbar {
  display: none;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: transparent;
  border: 1px solid #e9901a !important;
  border-radius: 12px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #e9901a;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-arrow-rotate {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
.totalTooltipContainer {
  display: block;
  position: relative;
  cursor: pointer;
}
.totalToolTip {
  display: none;
  background-color: #e9901a;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  position: absolute;
  white-space: nowrap;
  top: -34px;
  padding-top: 6px;
  border-radius: 12px;
}
.totalTooltipContainer:hover .totalToolTip {
  display: block;
}
#page-numbers .page-link {
  border: 1px solid #e9901a;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  @media (max-width: 768px) {
    width: 32px;
    height: 32px;
  }
}
#page-numbers .active {
  background-color: #e9901a;
}
tr td {
  padding: 10px 24px;
  white-space: nowrap;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.mainData:nth-child(odd) {
  background-color: #302964;
}
.mainResult {
  display: flex;
  align-items: center;
  gap: 12px;
}

.maintitleContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.maintitleContainer img {
  width: 30px;
  height: 30px;
  border-radius: 60px;
}

.mainTitleText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.mainTitleText h2 {
  padding-top: 2px;
  font-size: 16px;
  color: white;
  font-weight: medium;
}
.mainTitleText p {
  font-size: 12px;
  color: white;
}

.maintransactionContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: nowrap;
  text-align: right;
}
.tableHeader {
  background-color: #302964;
}
.tableHeader td:last-child {
  text-align: right;
}
.tb-container input {
  display: none;
}

.tableData {
  font-size: 16px;
  color: white;
  white-space: nowrap;
}
.succesfullStatusBox {
  width: 100%;
  padding: 8px 20px;
  border-radius: 60px;
  border: 1px solid #00a185;
  background-color: #b9d7d2;
  font-size: 16px;
  color: #00a185;
  text-align: center;
  padding-top: 10px;
  font-weight: medium;
}
.pendingStatusBox {
  width: 100%;
  padding: 8px 20px;
  border-radius: 60px;
  border: 1px solid #ffc861;
  background-color: #fdedcff2;
  font-size: 16px;
  color: #ffc861;
  text-align: center;
  padding-top: 10px;
  font-weight: medium;
}
.canceledStatusBox {
  width: 100%;
  padding: 8px 20px;
  border-radius: 60px;
  border: 1px solid #ff6161;
  background-color: #ffbebe;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  color: #ff6161;
  font-weight: medium;
}
.balanceDetailLastSevenDays {
  font-size: 16px;
  color: white;
  white-space: nowrap;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.resultBarContainer {
  width: 100%;
  background: #dfe0e4;
  height: 4px;
  border-radius: 50px;
}
.balanceDetailLastSevenDaysBar {
  background-color: #e9901a;
  height: 100%;
  border-radius: 50px;
}

.balanceDetailTrade {
  border: 1px solid white;
  border-radius: 12px;
  padding: 8px 20px;
  font-size: 16px;
  width: fit-content;
  color: white;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  @media (max-width: 768px) {
    padding: 6px 16px;
  }
}
.balanceDetailTrade:hover {
  border: 1px solid #e9901a;
  background-color: #e9901a;
}

.rewardsPercentAnimation {
  position: relative;
}
.bounce-up .subject {
  width: 0%;
  /*only one time transition perform*/
  transition: all 0.8s linear;
}

.bounce-up.in-view .subject {
  width: 73%;
}
.mainAssets {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (max-width: 768px) {
    gap: 16px;
  }
}
.listCardContainer {
  display: flex;
  gap: 12px;
}
.listCardTitle {
  font-size: 20px;
  color: white;
  font-weight: 500;
}
.listCardPercentage {
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.listCardTitleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.listCardDataMain {
  width: 100%;
  position: relative;
  z-index: 9999;
}
.listCardImage {
  width: 34px;
  height: 34px;
}
.listCardBarContainer {
  width: 100%;
  height: 4px;
  background-color: #dfe0e4;
  border-radius: 50px;
  margin-top: 4px;
}
.listCardBar {
  background-color: #e9901a;
  height: 100%;
  border-radius: 50px;
}
.listCardPricesAndValuesContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}
.listCardPrice {
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.listCardValue {
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.listCardButtonSvg {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.detailDropDown {
  opacity: 0;
  margin-top: -40px;
  position: absolute;
  min-width: 140px;
  background-color: #0f0f7ac7;
  border-radius: 12px;
  padding: 4px;
  font-size: 14px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 4px;
  top: 12px;
  right: 27px;
}
.detailDropDown a {
  color: white;
  text-decoration: none;
  padding: 4px 8px;
}
.assetContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  color: white;
}
.assetContainer img {
  width: 34px;
  height: 34px;
  border-radius: 60px;
}
.storedCardContainer {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px dashed white;
  transition: all 0.3s ease;
  border-radius: 12px;
}
.cardImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.cardHolderName {
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
}
.selectBank {
  font-size: 12px;
  color: white;
  font-weight: 400;
}
.deleteIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.card {
  display: flex;
  align-items: center;
  gap: 18px;
  width: 100%;
  border: 1px dashed white;
  transition: all 0.3s ease;
  border-radius: 12px;
  padding: 12px;
  flex-wrap: wrap;
  flex-direction: column;
  width: 32%;
  height: fit-content;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.walletMain {
  position: relative;
}
.walletCards {
  width: 86.5%;
  border-left: 1px solid #e9901a;
  display: none;
  margin-left: auto;
}
.walletCardsDisplay {
  width: 86.5%;
  border-left: 1px solid #e9901a;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: auto;
}
.walletMain:hover .walletCards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkBoxMainDiv {
  padding: 20px 24px;
  white-space: nowrap;
  color: white;
  font-size: 16px;
  text-align: left;
}
.chexkBoxLabel {
  font-size: 16px;
  color: white;
}

.checkMarkRadioButtonContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkMarkRadioButtonContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid #e9901a;
  border-radius: 50%;
}

.checkMarkRadioButtonContainer:hover input ~ .checkmark {
  background-color: transparent;
}

.checkMarkRadioButtonContainer input:checked ~ .checkmark {
  background-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkMarkRadioButtonContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkMarkRadioButtonContainer .checkmark:after {
  top: 7.2px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #e9901a;
}

.checkMarkRadioTick {
  position: absolute;
  top: -19px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid #e9901a;
  border-radius: 50%;
}

.checkMarkRadioButtonContainer input:checked ~ .checkMarkRadioTick {
  background-color: transparent;
}

.checkMarkRadioTick:after {
  content: "";
  position: absolute;
  display: none;
}

.checkMarkRadioButtonContainer input:checked ~ .checkMarkRadioTick:after {
  display: block;
}

.checkMarkRadioButtonContainer .checkMarkRadioTick:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #e9901a;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mainResultInvoice {
  display: flex;
  align-items: center;
  gap: 12px;
}
.mainResultInvoiceSvg {
  width: 24px;
  height: 24px;
}
.mainResultInvoiceText {
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.mainData td .checkMarkRadioTick {
  top: -6px;
}
.billingTableText {
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.mainResultAction {
  display: flex;
  justify-content: right;
}
.assetsDetailsMain {
  position: relative;
}
.newAsset {
  width: 86.5%;
  border-left: 1px solid #e9901a;
  display: none;
  margin-left: auto;
}
.assetsDetailsMain:hover .newAsset {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.newAssetsDisplay {
  width: 86.5%;
  border-left: 1px solid #e9901a;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: auto;
}
.walletMain:hover .walletHead {
  background-color: #e9901a;
}